<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户列表</title>
</head>
<body>
	<table>
		<tr>
			<td>编号</td>
			<td>姓名</td>
			<td>密码</td>
		</tr>
		
		<tr th:each="user : ${page.list}">
			<td th:text="${user.uid}"></td>
			<td th:text="${user.uname}"></td>
			<td th:text="${user.upwd}"></td>
		</tr>
	</table>
	<a th:href="'getUserByPage?pageNo=1'">首页</a> &nbsp;
	<a th:href="'getUserByPage?pageNo='+${page.pageNum -1}">上一页</a>	&nbsp;
	<a th:href="'getUserByPage?pageNo='+${page.pageNum + 1}">下一页</a>&nbsp;
	<a th:href="'getUserByPage?pageNo='+${page.pages}">末页</a>&nbsp;
</body>
</html>